* {margin: 0; padding: 0;}

ul {list-style: none;}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

.wrap {
    width: 100%;
    /* background-color:beige; */
}

.wrap .header {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    position: fixed;
}

.header .top {
    width: 100%;
    height: 100px;
    background-color: white;
}

.header .top .left {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 85px;
    top: 38px;
    z-index: 3;
    cursor: pointer;
}

.header .top .center {
    width: 150px;
    /* height: 10px; */
    position: absolute;
    z-index: 3;
    top: 35px;
    left: 44%;
}

.header .top img {
    width: 100%;
    height: 100%;
}

.header .top .right {
    position: relative;
}

.header .top .right li:nth-child(1) {
    position: absolute;
    z-index: 4;
    right: 212px;
    top: 40px;
}

.header .top .right li:nth-child(2) {
    position: absolute;
    z-index: 4;
    right: 165px;
    top: 40px;
}
.header .top .right li:nth-child(3) {
    position: absolute;
    z-index: 4;
    right: 125px;
    top: 40px;
}
.header .top .right li:nth-child(4) {
    position: absolute;
    z-index: 4;
    right: 84px;
    top: 43px;
    width: 20px;
}

.header .topbanner {
    width: 100%;
    height: 50px;
    background-color: rgb(252, 212, 207);
    position: absolute;
    bottom: 0;
}

.header .topbanner p {
    line-height: 50px;
    text-align: center;
}
.wrap .mainbanner {
    width: 100%;
    height: 800px;
}

.mainbanner img {
    width: 100%;
    height: 100%;
}

.wrap .mainbanner2 {
    width: 100%;
    height: 600px;
    /* background-color: coral; */
}

.wrap .mainbanner2_title{
    width: 100%;
    height: 230px;
    background-color: white;
}
.wrap .mainbanner2_title p{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #222;
    padding-top: 130px;
}

.wrap .mainbanner2_list {
    width: 100%;
    height: 400px;
    background-color: white;
}

.wrap .mainbanner2_list .frame {
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* margin-top: 100px; */
}

.mainbanner2 .frame img {
    width: 200px;
    height: 200px;
}

.mainbanner2 .frame .namebox {
    width: 200px;
    height: 150px;
    background-color: white;
}

.mainbanner2_list .frame .namebox p {
    text-align: left;
    font-size: 13.5px;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 10px;
}

.mainbanner2_list .frame .namebox .price {
    text-align: left;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
}

.mainbanner2_list .frame .namebox .bfprice {
    text-align: left;
    font-size: 12px;
    color: rgb(146, 145, 145);
    text-decoration: line-through;
}

.wrap .mainbanner3 {
    width: 100%;
    height: 950px;
}

.wrap .mainbanner3_title{
    width: 100%;
    height: 150px;
    background-color: white;
}

.wrap .mainbanner3_title p{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #222;
    padding-top:50px;
}

.wrap .mainbanner3_list{
    width: 100%;
    height: 800px;
    /* background-color: blueviolet; */
}

.mainbanner3_list .listbox {
    width: 1300px;
    height: 700px;
    margin: auto;
    display: flex;
    border: 1px solid gray;
}

.mainbanner3_list .box1 {
    width: 680px;
    height: 700px;
    /* border: 2px solid red; */
}

.mainbanner3_list .box1 img {
    width: 100%;
    height: 100%;
}

.mainbanner3_list .box2 {
    width: 620px;
    height: 700px;
    /* border: 2px solid blue; */
}

.mainbanner3_list .box2_1 {
    width: 620px;
    height: 33%;
    display: flex;
    /* border: 2px solid green; */
}

.box2 .leftbox2_1 {
    width: 250px;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    /* border: 1px solid yellow; */
}

.box2 .leftbox2_1 img {
    width: 210px;
    height: 210px;
    padding-top: 10px;
}

.box2 .rightbox2_1 {
    width: 390px;
    height: 100%;
    border-bottom: 1px solid gainsboro;
}

.box2 .rightbox2_1 .name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 5px;
}

.box2 .rightbox2_1 .hname {
    text-align: left;
    font-size: 13px;
    /* font-weight: 600; */
    font-family: sans-serif;
    color: gray;
    padding-left: 30px;
    padding-bottom: 5px;
}

.box2 .rightbox2_1 .price {
    text-align: left;
    font-size: 12px;
    font-weight: 800;
    font-family: sans-serif;
    padding-left: 30px;
}

.mainbanner3_list .box2_2 {
    width: 620px;
    height: 33%;
    display: flex;
}

.box2 .leftbox2_2 {
    width: 250px;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    /* border: 1px solid yellow; */
}

.box2 .leftbox2_2 img {
    width: 210px;
    height: 210px;
    padding-top: 10px;
}

.box2 .rightbox2_2 {
    width: 390px;
    height: 100%;
    border-bottom: 1px solid gainsboro;
}

.box2 .rightbox2_2 .name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 5px;
}

.box2 .rightbox2_2 .hname {
    text-align: left;
    font-size: 13px;
    /* font-weight: 600; */
    font-family: sans-serif;
    color: gray;
    padding-left: 30px;
    padding-bottom: 5px;
}

.box2 .rightbox2_2 .price {
    text-align: left;
    font-size: 12px;
    font-weight: 800;
    font-family: sans-serif;
    padding-left: 30px;
}

.mainbanner3_list .box2_3 {
    width: 620px;
    height: 33%;
    display: flex;
}
.box2 .leftbox2_3 {
    width: 250px;
    height: 100%;
    text-align: center;
}

.box2 .leftbox2_3 img {
    width: 210px;
    height: 210px;
    padding-top: 10px;
}

.box2 .rightbox2_3 {
    width: 390px;
    height: 100%;
}

.box2 .rightbox2_3 .name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 5px;
}

.box2 .rightbox2_3 .hname {
    text-align: left;
    font-size: 13px;
    /* font-weight: 600; */
    font-family: sans-serif;
    color: gray;
    padding-left: 30px;
    padding-bottom: 5px;
}

.box2 .rightbox2_3 .price {
    text-align: left;
    font-size: 12px;
    font-weight: 800;
    font-family: sans-serif;
    padding-left: 30px;
}

.wrap .mainbanner4 {
    width: 100%;
    height: 500px;
    background-color: #ffe3df;
}

.mainbanner4 .banner4frame {
    width: 1200px;
    height: 500px;
    /* background-color: #222; */
    margin: auto;
    display: flex;
}

.mainbanner4 .mainbanner4_photo {
    width: 600px;
    height: 500px;
    /* background-color: red; */
    position: relative;
}

.mainbanner4 .mainbanner4_photo img {
    width: 600px;
    height: 340px;
    position: absolute;
    left: 0;
    top: 80px;
}

.mainbanner4 .mainbanner4_showroom {
    width: 600px;
    height: 500px;
    /* background-color: blue; */
    position: relative;
}

.mainbanner4 .mainbanner4_showroom h2 {
    position: absolute;
    left: 70px;
    top: 150px;
}

.mainbanner4 .mainbanner4_showroom p {
    position: absolute;
    left: 70px;
    top: 220px;
}

.wrap .mainbanner5_title{
    width: 100%;
    height: 230px;
    background-color: white;
}

.wrap .mainbanner5_title p{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #222;
    padding-top: 130px;
}

.wrap .mainbanner5_list {
    width: 100%;
    height: 400px;
    background-color: white;
}

.wrap .mainbanner5_list .frame {
    width: 1200px;
    height: 10px;
    /* background-color: firebrick; */
    margin: auto;
    padding-top: 10px;
}

.wrap .mainbanner5_list .frame ul {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.wrap .mainbanner5_list .frame li {
    width: 200px;
    height: 200px;
}

.wrap .mainbanner5_list .frame li img {
    width: 100%;
    height: 100%;
}

.wrap .mainbanner5_list .frame p {
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.wrap .footer {
    width: 100%;
    height: 360px;
    background-color: #fafafa;
}

.footer .footerframe {
    width: 1300px;
    height: 220px;
    /* background-color: red; */
    margin: auto;
    position: relative;
    top: 40px;
    display: flex;
}

.footer .footerinfo1 {
    width: 460px;
    height: 220px;
    position: relative;
}
.footerinfo1 .footerlogo {
    width: 150px;
    text-align: left;
}
.footerinfo1 .sns {
    position: absolute;
    top: 75px;
    left: 0;
}
.footerinfo1 .sns li {
    display: inline-block;
    width: 50px;
}
.footerinfo1 p {
    position: absolute;
    bottom: 40px;
    left: 0;
    font-size: 11px;
}
.footerinfo1 .guidelink {
    position: absolute;
    bottom: 10px;
    left: 0;
}
.footerinfo1 .guidelink li {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}
.footerinfo1 .guidelink li:nth-child(2)::before {
    display: block;
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    height: 13px;
    top: 7px;
    left: 60px;
}
.footerinfo1 .guidelink li:nth-child(3)::before {
    display: block;
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    height: 13px;
    top: 7px;
    left: 180px;
}

.footer .footerinfo2 {
    width: 420px;
    height: 220px;
    /* background-color: green ; */
    position: relative;
}
.footerinfo2 p:nth-child(1) {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerinfo2 p:nth-child(1)::after {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    top: 35px;
    left: 0;
    content: "";
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerinfo2 p:nth-child(2) {
    font-size: 27px;
    position: absolute;
    top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerinfo2 ul {
    position: absolute;
    bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px
}
.footerinfo2 li {
    margin-bottom: 8px;
}

.footer .footerinfo3 {
    width: 420px;
    height: 220px;
    /* background-color: blue ; */
    position: relative;
}
.footerinfo3 ul {
    position: absolute;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
.footerinfo3 li {
    margin-bottom: 23px;
}

.footerinfo3 .mail {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerinfo3 span {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(171, 171, 171);
    
}